---
layout: layout
type: main
---




<div class="py-3 text-left col-lg-8 col-md-10 col-sm-11 col-xs-11 mx-auto row mw">
    <h3 class="display-6 fw-bold">Research</h3>
    <p class="lead mb-4">At Creative Vision, we strive to transform anyone into a creator. To achieve this, we focus on
        three core elements: skill, efficiency, and personalization. Our <em>large generative models</em> for images,
        videos, 3D, and 4D significantly boost skill. But that’s not enough! The creative process demands instantaneous
        feedback. To do so, we push <em>efficiency</em> to the edge, enabling our models to run on mobile phones at
        nearly real-time speeds while utilizing only a fraction of the size of larger models. Yet, this is still not
        enough. Each creator possesses a unique style and <em>personality</em>. Therefore, we not only build models that
        are efficient, but also make them personalized. Since the inception of our team, we have contributed
        substantially to products, used by hundreds of millions of Snapchatters everyday!
    </p>
    <p class="lead mb-4">If our mission resonates with you, please send us an email. We are constantly in search of
        interns, collaborators, and researchers.
    </p>
</div>

<div class="text-left col-lg-8 col-md-10 col-sm-11 col-xs-11 mx-auto row mw">
    <h3 class="display-6 fw-bold">Experience</h3>
    <div class="container col-lg-12">

        <div class="row scrolling-wrapper flex-row flex-nowrap mt-4 pb-4 pt-2 js-scrollable" id="scroll-container"
             style="position: relative; overflow: auto;">
            <div class="col">
                <div class="timeline-steps">
                    {% for exp in site.data.experience %}
                    <div class="timeline-step">
                        <div class="timeline-content">
                            <div class="inner-circle">
                                <img class="fa-img" src=" {{ exp.image }} ">
                            </div>
                            <p class="h6 mt-3 mb-1">{{ exp.date }}</p>
                            <p class="h6 text-muted mb-0 mb-lg-0">{{ exp.role }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="py-3 text-left col-lg-8 col-md-10 col-sm-11 col-xs-11 mx-auto row mw">
    <h3 class="display-6 fw-bold">Community Service</h3>

    <p class="lead mb-4">I served as a technical program comittee member for all major computer vision, graphics and
        machine learning conferences: CVPR, ECCV, ICCV, NeurIPS, ICLR, SIGGRAPH, SIGGRAPH Asia, ICML. Since 2022 I serve
        as an AC for CVPR, ICML, NeurIPS, ICLR, WACV, 3DV, ECCV, ICCV. Since June 2024 I&apos;m serving as an
        Associate Editor for TPAMI.</p>

    <p class="lead mb-4">Our team organizes tutorials, teaches courses, and gives keynotes.</p>

    <div class="album py-5">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">A week-long course on "Teaching Computers to Imagine with Deep
                                Generative Models"
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm"
                                       href="https://stulyakov.com/teaching/teaching-to-imagine.html"
                                       type="button">Materials</a>
                                </div>
                                <small class="text-body-secondary">Universty of Trento'2019</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">A tutorial on "Unlocking Creativity with Computer Vision:
                                Representations for
                                Animation, Stylization and Manipulation"</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm"
                                       href="https://snap-research.github.io/representations-for-creativity"
                                       type="button">Materials</a>
                                </div>
                                <small class="text-body-secondary">CVPR'2020</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">A tutorial on "Video Synthesis: Early Days and New Developments"</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm"
                                       href="https://snap-research.github.io/video-synthesis-tutorial"
                                       type="button">Materials</a>
                                </div>
                                <small class="text-body-secondary">ECCV'2022</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">A tutorial on "Efficient Neural Networks: From Algorithm Design to
                                Practical Mobile
                                Deployments"</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary btn-sm"
                                       href="https://snap-research.github.io/efficient-nn-tutorial"
                                       type="button">Materials</a>
                                </div>
                                <small class="text-body-secondary">CVPR'2023</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="py-3 text-left col-lg-8 col-md-10 col-sm-11 mx-auto row mw" id="publications">
    <h3 class="display-6 fw-bold">Publications</h3>

    <p class="lead py-3">This is an incomplete list. Please see my <a
            href="https://scholar.google.com/citations?user=mgzXR0sAAAAJ">google scholar.</a></p>

    <div class="container">

        {% for pub in site.data.publications %}

        <div class="row py-3">
            <div class="col-sm-3 py-3">
                <div class="item">
                    <div class="notify-badge badge text-bg-primary">
                        <span> {{ pub.badge }}</span>
                    </div>
                    {% if pub.teaser_type == "video" %}
                    <video autoplay class="rounded img-fluid img-max" loop muted playsinline>
                        <source src="{{ pub.teaser }}" type="video/mp4">
                    </video>
                    {% else %}
                    <img class="rounded img-fluid img-max" src="{{ pub.teaser }}"/>
                    {% endif %}
                </div>

            </div>

            <div class="col py-3">
                <strong> {{ pub.title }} </strong>

                <p>
                    {% for author in pub.authors %}
                    {{ author }}{% if forloop.last == false %}, {% endif %}
                    {% endfor %}
                </p>

                {% if pub.venue %}
                <p>
                    <em>{{ pub.venue }}</em> {% if pub.highlight %} <strong>{{ pub.highlight }}</strong> {% endif %}
                </p>
                {% endif %}

                <a class="btn btn-primary btn-sm" href="{{ pub.project_page }}" type="button">Project</a>
                <a class="btn btn-primary btn-sm" href="{{ pub.arxiv_page }}" type="button">Paper</a>
            </div>
        </div>
        <hr class="d-md-none"/>

        {% endfor %}


    </div>

</div>

<script>
    new ScrollHint('.js-scrollable', {
      scrollableRightClass: 'is-right-scrollable',
    });
</script>
